.flexContainer {
    /* border: 1px solid green; */
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .headerContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .iconTextContainer {
    /* border: 1px solid violet; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    font-size: 16px;
    animation: phoneRing 2s infinite;
  }
  
  .iconText {
    margin-left: 0.5rem;
    font-size: 16px;
    font-weight: bold;
  }
  
  .headerText {
    font-size: 36px;
    font-weight: bold;
  }
  
  .separator {
    width: 100%;
    border: 1px solid var(--gray-a6);
    margin: 1rem 0;
  }
  
  .formContainer {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    /* border: 1px solid yellow; */
    padding: 1rem;
    flex: 1;
    text-align: center;
  }
  
  .form {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 1rem;
    gap: 1rem;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 8px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--gray-a6);
  }
  .textarea {
    resize: none;
  }

  
  .input:focus,
    .textarea:focus {
        outline: none;
        border-bottom: 1px solid var(--solid-1);
    }

  .button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  @keyframes phoneRing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  